.box {
  position: relative;
}

.mgR {
  margin-right: 26px;
}

.qa {
  position: absolute;
  top: 50%;
  right: -20px;
  transform: translateY(-50%);
}

.textareaQA {
  top: 0;
  transform: translateY(0);
}

.inputLoading {
  position: absolute;
  top: 50%;
  right: 0;
  min-width: 40px;
  transform: translate(105%, -50%);

  :global {
    .ant-spin-dot-spin {
      font-size: 14px;
    }
  }
}

.loadingTxt {
  margin-left: 4px;
  color: #a9a9a9;
}

.tips {
  color: #e76f51;
}
